body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
}

.destaque{
    background-color: #ffffc9;
    font-weight: bold;   
}

.removido{
    text-decoration: line-through;
    color: gray;
}